body {
  font-family: sans-serif;
}
.container {
  width: 400px;
  margin: 50px auto;
}
ul {
  padding: 0;
}
li {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}
.done {
  text-decoration: line-through;
  color: gray;
}
input { width: 70%; padding: 6px }
button { padding: 6px 10px }
